#My ignored files
.gradle/
.idea/
.build/

api/allure-report/
*.idea/

*.gradle/

#*.build/

*.bin

build/*

*.class

*.idx

*.lock

*.css

*.log

*.jar

#api/build.gradle

api/build/allure-results/
api/build/reports/
api/build/test-results/
gradle/.DS_Store
api/build/classes/java/
build/reports/buildDashboard/*.html
api/build/classes/java/

#Mac OS stuff
.DS_Store

#IDEA Files
.idea
target
*.iml
*.ipr
build
schema
.gradle

out/


