.gradle/
.idea/
build/allure-results/
build/classes/java/test/Logistics/CreateHashMapExample.class
build/reports/
build/test-results/run_logistics/TEST-Logistics.SenerityDemo.xml
build/test-results/run_logistics/binary/results.bin
settings.gradle
supply_chain_automation.iml
